%table
  %tr
    %th
      Player
    %th
      Frome 1
    %th
      Frome 2
    %th
      Frome 3
    %th
      Frome 4
    %th
      Frome 5
    %th
      Frome 6
    %th
      Frome 7
    %th
      Frome 8
    %th
      Frome 9
    %th
      Frome 10
  - @match.games.each do |game|
    %tr
      %td= game.player